# misc_writer
type misc_writer, coredomain, domain;
type misc_writer_exec, system_file_type, exec_type, file_type;
system_internal_prop(misc_writer_prop)

# Raw writes to misc_block_device
allow misc_writer misc_block_device:blk_file rw_file_perms;
allow misc_writer block_device:dir r_dir_perms;

# Others
allow misc_writer proc_cmdline:file r_file_perms;
allow misc_writer sysfs_dt_firmware_android:dir r_dir_perms;
allow misc_writer sysfs_dt_firmware_android:file r_file_perms;
allow misc_writer metadata_file:dir search;

# Boot prop
get_prop(misc_writer, misc_writer_prop)
set_prop(misc_writer, misc_writer_prop)